{% extends '../users/layout.html' %}
{% block body %}
    <h1 class="display-4 text-center">Create a New Wish List Item</h1>
    {% if messages %}
    <hr class="my-4">
    <div class="row">
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{message.tags}} text-danger" {% endif %}>{{ message }}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <hr class="my-4 mb-4">
    <div class="row justify-content-center align-items-center">
        <form action="{% url 'items:new' %}" method="post">
            {% csrf_token %}
            <label for="item_name">Item/Product</label>
            <input type="text" id="item_name" name="item_name">
            <input type="hidden" name="user_id" value="{{ request.session.user_id }}">
            <button type="submit" class="btn btn-success">Add</button>
        </form>
    </div>
{% endblock %}